Resources/parameters.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="arg" type="xs:string"/>
  <xs:element name="option-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="arg"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="option-config">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="arg"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arguments">
    <xs:complexType>
      <xs:choice>
        <xs:element name="option-group">
          <xs:complexType>
            <xs:choice>
              <xs:element name="option-version">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:ID"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="option-EULA">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:ID"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="option-help">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:ID"/>
                </xs:complexType>
              </xs:element>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element minOccurs="0" maxOccurs="1" ref="option-set"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="option-config"/>
              </xs:choice>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="command-group">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="option-no-check">
                  <xs:complexType>
                    <xs:attribute name="id" type="xs:ID"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="option-lets-secure">
                  <xs:complexType>
                    <xs:attribute name="id" type="xs:ID"/>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" ref="option-config"/>
              </xs:choice>
              <xs:sequence>
                <xs:choice>
                  <xs:element name="command-create">
                    <xs:complexType>
                      <xs:attribute name="id" type="xs:ID"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="command-delete">
                    <xs:complexType>
                      <xs:attribute name="id" type="xs:ID"/>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
                <xs:element ref="arg" minOccurs="3" maxOccurs="3"/>
              </xs:sequence>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>